<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Resources for Indigenous Alaskans</title>
        <!-- Favicon-->
        <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/favicon_package_v0.16/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/favicon_package_v0.16/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/favicon_package_v0.16/favicon-16x16.png">
        <link rel="manifest" href="../static/assets/favicon_package_v0.16/site.webmanifest">
        <link rel="mask-icon" href="../static/assets/favicon_package_v0.16/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top"></a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio">Resources</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact">Get Involved</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead text-light text-center">
            <div class="container d-flex align-items-center flex-column ">
                <!-- Masthead Heading-->
                <h2 class="masthead-heading text-uppercase text-light mb-0">Native Resources</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fa-solid fa-mountain"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light text-light mb-0">Resources for Struggling Alaska Natives</p>
            </div>
        </header>
         <!-- About Section-->
         <section class="page-section bg-light text-dark mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase">The Issue</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fa-solid fa-mountain"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ms-auto"><p class="lead">Indigenous Alaskans have suffered greatly at the hands of Western colonialism, facing forced relocation, cultural suppression, and loss of autonomy. These experiences have resulted in high rates of depression, anxiety, PTSD, substance abuse, and suicide. The physical impacts of colonialism include disrupted traditional ways of life and limited access to basic necessities such as food and water.</p></div>
                    <div class="col-lg-4 me-auto"><p class="lead">This website strives to provide information about the history of colonialism in Alaska and its ongoing impacts on indigenous communities. We also aim to connect those seeking help with resources such as mental health services, substance abuse treatment programs, and organizations dedicated to supporting indigenous communities. </p></div>
                </div>
            </div>
        </section>
        <!-- Portfolio Section-->
        <section class="page-section portfolio bg-dark" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-light mb-0">Resources</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fa-solid fa-mountain"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Item 1-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../static/assets/img/portfolio/Mental Health Resources(1).png" alt="..." />
                        </div>
                    </div>
                    <!-- Portfolio Item 2-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../static/assets/img/portfolio/Addiction Resources.png" alt="..." />
                        </div>
                    </div>
                    <!-- Portfolio Item 3-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../static/assets/img/portfolio/Health Resources.png" alt="..." />
                        </div>
                    </div>
                    <!-- Portfolio Item 4-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../static/assets/img/portfolio/Cultural Resources.png" alt="..." />
                        </div>
                    </div>
                    <!-- Portfolio Item 5-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../static/assets/img/portfolio/Displacement Resources.png" alt="..." />
                        </div>
                    </div>
                    <!-- Portfolio Item 6-->
                    <div class="col-md-6 col-lg-4">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../static/assets/img/portfolio/Legal Resources.png" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Section-->
        <section class="page-section bg-white" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Alaska Native Justice Center</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fa-solid fa-mountain"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <p class="lead text-center text-secondary p-3">ANJC provides help navigating systems, intensive case management, referrals to services and community resources. Their services are culturally sensitive. Legal representation may be available to eligible participants.</p>
                <!-- Contact Section Form-->
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Full name</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Email address</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">Phone number</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Message</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <h2>“We’re all here together, and we have to go forward together, and I think that might be the hope — that we can all inhabit together”</h2>
                    <h5><i>-Ernestine Hayes</i></h5>
                </div>
            </div>
        </footer>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>A Website by Connor Goldschmidt</small></div>
        </div>
        <!-- Resource Modals-->
        <!-- Mental Health Resources -->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Resource Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Mental Health Resources</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa-solid fa-mountain"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Resource Modal - Text-->
                                    <p class="mb-4">The colonization of western settlers, as well as the forced assimilation policies of the US government, have had a profound and lasting effect on the mental health of Alaska Native communities. The trauma, social and economic challenges, and loss of traditional cultural practices have contributed to high rates of depression, anxiety, post-traumatic stress disorder (PTSD), and other mental health issues among Alaska Native people. Below is a list of different resources Native's can utilize.</p>
                                    <div class="container">
                                        <table class="table table-striped table-responsive-md table-hover">
                                          <thead class="thead-dark">
                                            <tr>
                                              <th scope="col">Link</th>
                                              <th scope="col">Description</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td><a href="https://www.anthc.org/what-we-do/behavioral-health/" class="text-dark font-weight-bold">ANTHC Behavioral Health Wellness Clinic</a></td>
                                              <td><p class="text-muted">The ANTHC Behavioral Health Wellness Clinic promotes Alaska Native wellness through compassionate and easy-to-connect to behavioral health services.</p></td>
                                            </tr>
                                            <tr>
                                              <td><a href="https://mhttcnetwork.org/centers/national-american-indian-and-alaska-native-mhttc/home" class="text-dark font-weight-bold">Mental Health Technology Center Network</a></td>
                                              <td><p class="text-muted">The National American Indian and Alaska Native MHTTC works with organizations and treatment practitioners involved in the delivery of mental health services to American Indian and Alaska Native individuals, families, and tribal and urban Indian communities to strengthen their capacity to deliver effective evidence-based and experience-based practices. This includes the full continuum of services spanning mental illness, prevention, treatment, and recovery support.</p></td>
                                            </tr>
                                            <tr>
                                                <td><a href="https://www.wernative.org/" class="text-dark font-weight-bold">WeRNative</a></td>
                                                <td><p class="text-muted">We r Natie is a comprehensive health resource for Native youth by Native youth, promoting holistic health and positive growth in local communities and nation at large. </p></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                      
                                    <button class="btn" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Addiction resources -->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Resource Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Addiction Resources</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa-solid fa-mountain"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Resource Modal - Text-->
                                    <p class="mb-4">Alcoholism is a significant problem in many Indigenous Alaskan communities, where it has devastating effects on individuals, families, and the community as a whole. Historically, colonization and forced assimilation have disrupted traditional practices and ways of life, leading to trauma, poverty, and marginalization that can contribute to substance abuse. Alcohol is often easily accessible and culturally ingrained in social events, but many people struggle with addiction and its associated health and social problems, including domestic violence, suicide, and fetal alcohol syndrome. Addressing alcoholism in Indigenous Alaskan communities requires a holistic approach that addresses the root causes of addiction and involves cultural revitalization, community empowerment, and access to healthcare and social services.</p>
                                    <div class="container">
                                        <table class="table table-striped table-responsive-md table-hover">
                                          <thead class="thead-dark">
                                            <tr>
                                              <th scope="col">Link</th>
                                              <th scope="col">Description</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td><a href="https://www.samhsa.gov/tribal-affairs" class="text-dark font-weight-bold">Office of Tribal Affairs and Policy (OTAP)</a></td>
                                              <td><p class="text-muted">OTAP provides efficient and effective delivery of resources and services to ensure that American Indians and Alaska Natives have access to prevention, treatment, and recovery support services that reflect the best of modern science and traditional cultural practices.</p></td>
                                            </tr>
                                            <tr>
                                              <td><a href="https://alcohol.org/alcoholism-and-race/native-alaskans/" class="text-dark font-weight-bold">American Addiction Centers</a></td>
                                              <td><p class="text-muted">American Addiction Centers (AAC) is a provider of expert substance addiction and mental health treatment. They strive to make the admissions process simple so you can focus on what's most important: healing.</p></td>
                                            </tr>
                                            <tr>
                                                <td><a href="https://www.samhsa.gov/find-help/national-helpline" class="text-dark font-weight-bold">SAMHSA National Helpline</a></td>
                                                <td><p class="text-muted">SAMSHA is a confidential, free, 24-hour-a-day, 365-day-a-year, information service, in English and Spanish, for individuals and family members facing mental and/or substance use disorders. This service provides referrals to local treatment facilities, support groups, and community-based organizations. </p></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                      
                                    <button class="btn" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Health Resources Modal-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Resource Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Health Resources</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa-solid fa-mountain"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Resource Modal - Text-->
                                    <p class="mb-4">The health care issues faced by Native Alaskans are intricately linked to the history of Western colonialism. Forced assimilation, displacement, and exploitation of resources by Western powers have disrupted Native Alaskans' traditional way of life, leading to social and economic challenges that have negatively impacted their health outcomes. Poor access to healthcare facilities, lack of healthcare resources, and inadequate healthcare infrastructure have made it challenging for Native Alaskans to receive timely and quality care. Additionally, historical trauma, cultural stigmatization, and language barriers have led to distrust between healthcare providers and Native Alaskans, further complicating the provision of healthcare services.</p>
                                    <div class="container">
                                        <table class="table table-striped table-responsive-md table-hover">
                                          <thead class="thead-dark">
                                            <tr>
                                              <th scope="col">Link</th>
                                              <th scope="col">Description</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td><a href="https://www.ihs.gov/alaska/" class="text-dark font-weight-bold">Indian Health Service (IHS)</a></td>
                                              <td><p class="text-muted">The Alaska Area Indian Health Service (IHS) works in conjunction with Alaska Native Tribes and Tribal Organizations (T/TO) to provide comprehensive health services to 163,835 Alaska Natives.</p></td>
                                            </tr>
                                            <tr>
                                              <td><a href="https://anmc.org/" class="text-dark font-weight-bold">Alaska Medical Center</a></td>
                                              <td><p class="text-muted">The Alaska Native Medical Center (ANMC) offers comprehensive medical services and acute, specialty, primary and behavioral health care to Alaska Native and American Indian people living in Alaska. </p></td>
                                            </tr>
                                            <tr>
                                                <td><a href="https://www.healthcare.gov/american-indians-alaska-natives/" class="text-dark font-weight-bold">Health Care Information for Alaska Natives</a></td>
                                                <td><p class="text-muted">healthcare.gov provides benefits for federally recognized tribes of Alaska Natives.</p></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                      
                                    <button class="btn" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cultural Resources -->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Resource Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Cultural Resources</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa-solid fa-mountain"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Resource Modal - Text-->
                                    <p class="mb-4">Alaska Natives face a range of cultural issues that stem from the historical trauma of colonization and forced assimilation. These include the loss of traditional languages, practices, and knowledge, which has eroded cultural identity and contributed to high rates of intergenerational trauma and mental health issues. Additionally, Alaska Natives face ongoing challenges related to economic marginalization, limited access to healthcare, and discrimination in areas such as education and housing. These issues are complex and interconnected, and addressing them requires a multifaceted approach that centers the voices and needs of Alaska Native communities themselves.</p>
                                    <div class="container">
                                        <table class="table table-striped table-responsive-md table-hover">
                                          <thead class="thead-dark">
                                            <tr>
                                              <th scope="col">Link</th>
                                              <th scope="col">Description</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td><a href="../static/files/CulturalResourcesGuide.pdf" class="text-dark font-weight-bold" target="_blank">Cultural Resrouces for Alaska Families (PDF)</a></td>
                                              <td><p class="text-muted">Cultural Resource Guide distrubted by Alaska.gov</p></td>
                                            </tr>
                                            <tr>
                                              <td><a href="https://www.alaskanative.net/" class="text-dark font-weight-bold">Alaska Native Heritage Center</a></td>
                                              <td><p class="text-muted">Alaska Native Heritage Center preserves and strengthens the traditions, languages, and art of Alaska’s Native People through statewide collaboration, celebration, and education.</p></td>
                                            </tr>
                                            <tr>
                                                <td><a href="https://www.nativefederation.org/" class="text-dark font-weight-bold">Alaska Federation of Natives (AFN)</a></td>
                                                <td><p class="text-muted">AFN was formed in 1966 to settle land claims. Today, it is the principal Alaska Native forum and voice for public policy and governance issues. Their mission is to “enhance and promote the cultural, economic, and political voice of the entire Alaska Native community.” </p></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                      
                                    <button class="btn" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Displacement Resources -->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Resource Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Displacement Resources</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa-solid fa-mountain"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Resource Modal - Text-->
                                    <p class="mb-4">Alaska Natives have faced displacement for centuries due to colonization and the forced relocation policies of the US government. Many Alaska Native communities were forced to relocate from their ancestral lands to designated areas with limited resources and opportunities. This has led to the loss of cultural identity, language, and traditional practices, as well as social, economic, and health disparities. Climate change is exacerbating the issue of displacement for Alaska Natives, as melting sea ice and rising sea levels threaten the safety and stability of coastal communities. The displacement of Alaska Natives continues to be a pressing issue, highlighting the ongoing struggle for Indigenous rights and sovereignty.</p>
                                    <div class="container">
                                        <table class="table table-striped table-responsive-md table-hover">
                                          <thead class="thead-dark">
                                            <tr>
                                              <th scope="col">Link</th>
                                              <th scope="col">Description</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td><a href="https://toolkit.climate.gov/topics/tribal-nations/relocation" class="text-dark font-weight-bold">U.S. Climate Resilience Toolkit</a></td>
                                              <td><p class="text-muted">The U.S. Climate Resilience Toolkit is a website designed to help people find and use tools, information, and subject matter expertise to build climate resilience. The Toolkit offers information from all across the U.S. federal government in one easy-to-use location.</p></td>
                                            </tr>
                                            <tr>
                                              <td><a href="https://www.benefits.gov/benefit/4364" class="text-dark font-weight-bold">Direct Home Loans for Native Americans</a></td>
                                              <td><p class="text-muted">The Native American Direct Loan (NADL) program makes home loans available to eligible Native American Veterans who wish to purchase, construct, or improve a home on Federal Trust land or to reduce the interest rate.
                                            </p></td>
                                            </tr>
                                            <tr>
                                                <td><a href="https://www.bia.gov/bia/ois/dhs/housing-improvement-program" class="text-dark font-weight-bold">Housing Improvement Program (HIP)</a></td>
                                                <td><p class="text-muted">The Housing Improvement Program (HIP) is a home repair, renovation, replacement and new housing grant program administered by the Bureau of Indian Affairs (BIA) and federally-recognized Indian Tribes for American Indians and Alaska Native (AI/AN) individuals and families who have no immediate resource for standard housing. </p></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                      
                                    <button class="btn" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Legal Resources -->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Resource Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Legal Resources</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa-solid fa-mountain"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Resource Modal - Text-->
                                    <p class="mb-4">Native Alaskan communities may face a range of legal issues, including land rights disputes, environmental degradation, discrimination, and inadequate access to healthcare and education. Many of these issues stem from the complex legal and political history of Alaska, including the Alaska Native Claims Settlement Act of 1971, which has resulted in ongoing debates over land ownership and resource management. Native Alaskans may also face challenges in asserting their tribal sovereignty and jurisdiction, particularly in cases involving non-Native individuals or corporations. Additionally, the effects of climate change on Alaska's ecosystems and communities have led to legal battles over resource extraction and development, as well as efforts to mitigate and adapt to the impacts of a rapidly changing environment.</p>
                                    <div class="container">
                                        <table class="table table-striped table-responsive-md table-hover">
                                          <thead class="thead-dark">
                                            <tr>
                                              <th scope="col">Link</th>
                                              <th scope="col">Description</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td><a href="https://anjc.org/" class="text-dark font-weight-bold">Alaska Native Justice Center</a></td>
                                              <td><p class="text-muted">

                                                The Alaska Native Justice Center (ANJC) promotes justice through culturally based
                                                advocacy, prevention, and intervention services
                                                
                                                to restore dignity, respect, and humanity to all Alaska Native people
                                                </p></td>
                                            </tr>
                                            <tr>
                                              <td><a href="https://www.alsc-law.org/alaska-native/" class="text-dark font-weight-bold">Alaska Native Law (ALSC)</a></td>
                                              <td><p class="text-muted">ALSC has been on the forefront of advocating with Alaska Native partners for 50 years to empower and bring resources to their communities; and to protect land claims, fisheries, tribal self-government, and subsistence. We support Alaska Native clients with issues concerning family law, wills and healthcare directives, and housing protection. </p></td>
                                            </tr>
                                            <tr>
                                                <td><a href="https://courts.alaska.gov/library/aklegal.htm" class="text-dark font-weight-bold">Alaska Court System Legal Resources</a></td>
                                                <td><p class="text-muted">The mission of the Alaska Court System is to provide an accessible and impartial forum for the just resolution of all cases that come before it, and to decide such cases in accordance with the law, expeditiously and with integrity.</p></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                      
                                    <button class="btn" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
